header {
  background-color: var(--primary);
  min-height: 100px;
  min-width: 100%;
}

header h1 {
  /* align-self: center; */
  background-color: var(--secondary);
  color: var(--primary);
  font-family: 'Alegreya', serif;
  font-size: 2.8rem;
  /* font-style: italic; */
  padding: 0px 1% 0px 1%;
  margin: 2% 0 2% 0;
  border-radius: 0 10px 10px 0;
}
